# determining the satisfaction of customers

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from helper import TelecomHelper
from clean_telecom_data import CleanTelecomData
import plots

In [4]:
CSV_PATH = "D:/10 Academy/data.csv"

In [5]:
# this helper class has utility function we are going to use
Helper = TelecomHelper()

In [6]:
df = Helper.read_csv(CSV_PATH)

file read as csv

In [7]:
pd.set_option('max_column', None)

In [8]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [9]:
def convert_labels(df):
        df.columns = [column.replace(' ', '_').lower() for column in df.columns]
        return df

In [10]:
df = convert_labels(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 149010 non-null  float64
 1   start                                     150000 non-null  object
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  object
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      149431 non-null  float64
 7   msisdn/number                             148935 non-null  float64
 8   imei                                      149429 non-null  float64
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [11]:
scores_data=df[['msisdn/number','Experience_Euclidean_Distance']]

KeyError: "None of [Index(['MSISDN/Number', 'Experience_Euclidean_Distance'], dtype='object')] are in the [columns]"